.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;

}
.header{
    flex: 1 1 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.3)

}
.headerInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.logoImg{
    width: 55px;
    margin: 10px 10px;
}
.nav{
    font-size: 15px;
    text-transform: uppercase;
}
.nav a{
    color: #333333;
}
.navLink{
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-decoration: none;
}
.navLink a{
    text-decoration: none;
    color: #333333;
}
a.activeLink {
    color: rgba(244,111,255,0.7);
}
.phone{
    font-weight: 700;
}